1d/build
1d/dg_mood_1d
2d/build
2d/*.gf
2d/dg_mood
*.mesh
.vscode
.idea
notes/*.aux
notes/*.out
notes/*.bbl
notes/*.dvi
notes/*.blg
notes/*.fls
notes/*.fdb_latexmk
notes/*.log
notes/project.synctex.gz